/* цвет основного текста #212121 */
/* цвет вторичного текста #757575 */
/* цвет белый #FFFFFF */
/* цвет акцент #2196F3 */
/* цвет футер емейл и тел  rgba(255, 255, 255, 0.6)*/
:root {
  --tittle-text-color: #212121;
  --secondary-text-color: #757575;
  --white-color: #ffffff;
  --acent-text-color: #2196f3;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --hero-footer-bcg-color: #2f303a;
  --buton-bcg-color: #f5f4fa;
}
/* Главная страница */
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: var(--white-color);
}
/* Утилиты */
.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
  font-style: normal;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
/* Хедер главной страници */

.header {
  border-bottom: 1px solid #ececec;
}
.main-header {
  display: flex;
  align-items: center;
}
.logo.primary {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--tittle-text-color);
}
.logo-part {
  color: var(--acent-text-color);
}
.nav-list {
  display: flex;
  margin-left: 93px;
}
.nav-list-item + .nav-list-item {
  margin-left: 50px;
}
.nav-list-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--tittle-text-color);
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--acent-text-color);
}
.nav-list .current {
  color: var(--acent-text-color);
}
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts-item + .contacts-item {
  margin-left: 50px;
}
.contacts-link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--acent-text-color);
}
/* Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--hero-footer-bcg-color);
  text-align: center;
}
.hero-header {
  max-width: 696px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.hero-btn {
  padding: 10px 32px;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--acent-text-color);
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: transparent;
  /* border: 1px solid var(--acent-text-color); */
}
/* Скеция 2 Особенности студии */
.peculiarities {
  padding-top: 94px;
  padding-bottom: 94px;
}
.peculiarities-list {
  display: flex;
}
.peculiarities-item + .peculiarities-item {
  margin-left: 30px;
}
.peculiarities-item {
  justify-self: center;
  width: 270px;
}
.peculiarities-list-tittle {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--tittle-text-color);
}
.peculiarities-list-text {
  margin-top: 0;
  margin-bottom: 0;

  line-height: 1.71;
}
/* Секция 3 чем занимается студия */
.about-work {
  padding-bottom: 94px;
}
.about-work-list {
  display: flex;
}
.about-work-list-item + .about-work-list-item {
  margin-left: 30px;
}
.about-work-tittle {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--tittle-text-color);
}
/* Секция 4 команда */
.command {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--buton-bcg-color);
}
.command-list {
  display: flex;
  /* justify-content: space-between; */
}
.command-list-participant {
  margin-left: 30px;

  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.command-list-participant:first-child {
  margin-left: 0;
}
.command-tittle {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--tittle-text-color);
}

.paticipant-name-activity {
  padding-top: 30px;
  padding-bottom: 30px;
}
.participant-name {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--tittle-text-color);
  text-align: center;
}
.participant-activity {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/* Футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--hero-footer-bcg-color);
}
.logo.secondary {
  display: block;
  margin-bottom: 20px;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white-color);
}
.footer-contacts {
  display: block;
}
.footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contact-adress {
  line-height: 1.71;
  color: var(--white-color);
}
.footer-contact-adress:hover,
.footer-contact-adress:focus {
  color: var(--acent-text-color);
}
.footer-contact-link {
  line-height: 1.71;
  color: var(--footer-text-color);
}
.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--acent-text-color);
}

/*  =========PORTFOLIO======= */
.portfolio-main-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.filter-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-list-item + .filter-list-item {
  margin-left: 8px;
}
.filter-list-item {
  flex-shrink: 0;
}
.filter-list-btn {
  padding: 6px 22px;
  cursor: pointer;
  border: none;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--tittle-text-color);
  background-color: var(--buton-bcg-color);
}
.filter-list-btn:hover,
.filter-list-btn:focus {
  color: var(--white-color);
  background-color: var(--acent-text-color);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
}
.project-list-tittle-description {
  padding: 20px 24px;
}
.projects-list-item {
  width: calc((100% - 60px) / 3);
  /* width: 370px; */
  margin-right: 30px;
  margin-bottom: 30px;

  background-color: var(--white-color);
  margin-right: 30px;
  border-bottom: 1px solid #eeeeee;
}
.projects-list-item:hover,
.projects-list-item:focus {
  background-color: transparent;
}
.projects-list-item:nth-child(3n) {
  margin-right: 0;
}
.projects-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.projects-list-ttile {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--tittle-text-color);
}
.projects-list-description {
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}
